version: "3.8"

services:
  backend:
    build: ./server
    container_name: workmate-backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env

  frontend:
    build: ./client
    container_name: workmate-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend
